<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        
<mapper namespace="cl.difrap.productos.tiendaark.mappers.Anuncio">

	<resultMap id="Anuncio" type="Anuncio">
		<result column="ID"        property="idIncremental"    javaType="Long" />
		<result column="URL"        property="url"    javaType="String" />
		<result column="FECHA_ULTIMO_USO"          property="fechaUltimoUso"     javaType="Date" />
		<result column="FECHA_ACTIVACION"          property="fechaActivacion"     javaType="Date" />
		<result column="VALOR"          property="valor"     javaType="Long" />
		<result column="ESTADO"          property="estado"     javaType="Integer" />
	</resultMap>

	<select id="selectAnuncioReal" resultMap="Anuncio">
	     select  *
	     from ANUNCIOS 
	     
    </select>
	<select id="selectAnuncio" resultMap="Anuncio">
	     select  
	     a.ID,
	     a.URL,
	     a.VALOR,
	     rau.FECHA_ULTIMO_USO,
	     rau.FECHA_ACTIVACION,
	     rau.ESTADO
	     from ANUNCIOS a
	     inner join REL_ANUNCIO_USUARIO rau on (a.ID = rau.ID_ANUNCIO)
	     inner join USUARIOS u on (u.ID = rau.ID_USUARIO)
	     WHERE
	     u.USUARIO = #{usuario}
	     
    </select>
    <select id="getAnuncio" resultMap="Anuncio">
	     select  
	     a.ID,
	     a.URL,
	     a.VALOR,
	     rau.FECHA_ULTIMO_USO,
	     rau.FECHA_ACTIVACION,
	     rau.ESTADO
	     from ANUNCIOS a
	     inner join REL_ANUNCIO_USUARIO rau on (a.ID = rau.ID_ANUNCIO)
	     inner join USUARIOS u on (u.ID = rau.ID_USUARIO)
	     WHERE
	     a.ID = #{idIncremental} and
	     u.USUARIO = #{usuario}
    </select>
    
    <update id="updateAnuncio" parameterType="Anuncio">
	     UPDATE
	     ANUNCIOS
	     SET
	     URL =  #{url},
	     VALOR =  #{valor},
	     ESTADO = #{estado}
	     where 
	     ID = #{idIncremental}
    </update>
    
    
     <update id="activarAnuncio" parameterType="Anuncio">
	     UPDATE
	     REL_ANUNCIO_USUARIO
	     SET
	     FECHA_ULTIMO_USO =  #{fechaUltimoUso},
	     FECHA_ACTIVACION =  #{fechaActivacion},
	     ESTADO = #{estado}
	     where 
	     ID_ANUNCIO = #{idIncremental} and
	     ID_USUARIO = (select ID from USUARIOS WHERE USUARIO = #{usuario})
    </update>
    <insert id="insertAnuncio" parameterType="Anuncio" useGeneratedKeys="true" keyProperty="idIncremental" keyColumn="ID">
	     INSERT INTO ANUNCIOS
	     (
	     	URL,
	     	VALOR
	     )
	     VALUES
	     (
	     	#{url},
	     	#{valor}
	     )
    </insert>
    
    <insert id="insertAnuncioRel" parameterType="Anuncio" useGeneratedKeys="true" keyProperty="idIncremental" keyColumn="ID">
	     INSERT INTO REL_ANUNCIO_USUARIO
	     (
	     	ID_USUARIO,
	     	ID_ANUNCIO,
	     	ESTADO
	     )
	     VALUES
	     (
	     	#{idUsuario},
	     	#{idIncremental},
	     	0
	     )
    </insert>
    
    <delete id="deleteAnuncio" parameterType="Anuncio">
		 DELETE
		 FROM
		 ANUNCIOS
	     where 
	     ID = #{idIncremental}
    </delete>
    
    <select id="totAnuncio" resultType="java.lang.Long">
    	SELECT COUNT(1) as cantidad FROM ANUNCIOS	
    </select>
    
</mapper>