<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        
<mapper namespace="cl.difrap.productos.tiendaark.mappers.Item">

	<resultMap id="Item" type="Item">
		<result column="ID"        property="idIncremental"    javaType="Long" />
		<result column="NOMBRE"        property="nombre"    javaType="String" />
		<result column="CANTIDAD"          property="cantidad"     javaType="Long" />
		<result column="COMANDO"          property="comando"     javaType="String" />
		<result column="PRECIO"          property="precio"     javaType="Long" />
		<result column="ICONO"          property="icono"     javaType="String" />
		<result column="TIPO"          property="tipo"     javaType="Integer" />
	</resultMap>

	<select id="selectItem" resultMap="Item">
	     select  
	     *
	     from ITEMS
	     <where>
	      	<if test = "nombre != null ">
	        	and NOMBRE like CONCAT('%',#{nombre},'%')
	      	</if>
	      	<if test = "comando != null ">
	        	and COMANDO like CONCAT('%',#{comando},'%')
	      	</if>
	      	<if test = "cantidad != null ">
	        	and CANTIDAD = #{cantidad}
	      	</if>
	      	<if test = "precio != null ">
	        	and PRECIO = #{precio}
	      	</if>
	      	<if test = "tipo != null ">
	        	and TIPO = #{tipo}
	      	</if>
  		</where>
	     
    </select>
    <select id="getItem" resultMap="Item">
	     select  
	     *
	     from ITEMS a
	     WHERE
	     a.ID = #{idIncremental}
    </select>
    
    <update id="updateItem" parameterType="Item">
	     UPDATE
	     ITEMS
	     SET
	     NOMBRE =  #{nombre},
	     CANTIDAD =  #{cantidad},
	     COMANDO = #{comando},
	     PRECIO = #{precio},
	     TIPO = #{tipo}
	     where 
	     ID = #{idIncremental}
    </update>
    
    <insert id="insertItem" parameterType="Item" useGeneratedKeys="true" keyProperty="idIncremental" keyColumn="ID">
	     INSERT INTO ITEMS
	     (
	     	NOMBRE,
	     	CANTIDAD,
	     	COMANDO,
	     	PRECIO,
	     	TIPO
	     )
	     VALUES
	     (
	     	#{nombre},
	     	#{cantidad},
	     	#{comando},
	     	#{precio},
	     	#{tipo}
	     )
    </insert>
    
    <delete id="deleteItem" parameterType="Item">
		 DELETE
		 FROM
		 ITEMS
	     where 
	     ID = #{idIncremental}
    </delete>
    
    <select id="totItem" resultType="java.lang.Long">
    	SELECT COUNT(1) as cantidad FROM ITEMS	
    	<where>
	      	<if test = "nombre != null ">
	        	and NOMBRE like CONCAT('%',#{nombre},'%')
	      	</if>
	      	<if test = "comando != null ">
	        	and COMANDO like CONCAT('%',#{comando},'%')
	      	</if>
	      	<if test = "cantidad != null ">
	        	and CANTIDAD = #{cantidad}
	      	</if>
	      	<if test = "precio != null ">
	        	and PRECIO = #{precio}
	      	</if>
	      	<if test = "tipo != null ">
	        	and TIPO = #{tipo}
	      	</if>
  		</where>
    </select>
    <select id="getItemAleatorio" resultMap="Item">
	    SELECT * FROM ITEMS
		ORDER BY RAND()
		LIMIT 1
    </select>
    
    
</mapper>