<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" [routerLink]="['']">DifundiendoRap</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" [routerLink]="['albumes']">Albumes</a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" [routerLink]="['enviardisco']">Envianos Tu Disco</a>
      </li>
      <!--li class="nav-item">
        <a class="nav-link" href="#">Donar</a>
      </li-->
    </ul>
  </div>
</nav>
<p></p>

<div style="margin-bottom: 120px">
  <router-outlet></router-outlet>
</div>

<nav class="navbar fixed-bottom navbar-expand-lg navbar-dark bg-dark">
 <span class="navbar-brand mb-0 h1">
   <app-reproductor  #reproductor [listaTrack]="listaTracks"></app-reproductor>
 </span>

 <button class="navbar-toggler dropup" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
  <i class="bi bi-three-dots" placement="top" ngbTooltip="Mostrar Tracks"></i>
 </button>

  <div class="collapse navbar-collapse " id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item dropdown dropup ">
        <a class="nav-link dropdown-toggle" id="listraTrackMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Lista Tracks
        </a>
        <div class="dropdown-menu" aria-labelledby="listraTrackMenu">
          <a class="dropdown-item"*ngFor="let t of listaTracks; let i = index" (click)="reproducir(t,i)">{{t.nombre}}</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
   
<ngx-spinner 
    bdColor="rgba(0, 0, 0, 0.8)" 
    size="large" 
    color="#fff" 
    type="ball-spin" 
    [fullScreen]="true"
>
    <p style="color: white" > Cargando... </p>
</ngx-spinner>
