<div class="card text-center">
  <div class="card-header">
      Aviso
  </div>
  <div class="card-body">
    <p class="card-text">Debes estar conectado en el servidor para poder visualizar aqui tu steam ID</p>
  </div>
</div>
<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Steam Id</th>
        <th scope="col">Nombre</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let pl of listaPlayer; let i = index">
        <th scope="row">{{i}}</th>
        <td>{{pl.idSteam}}</td>
        <td>{{pl.nombre}}</td>
      </tr>
    </tbody>
  </table>

