<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">MichiSaurios</a>
    <a href="https://discord.gg/G4pQ5Wz" rel="nofollow" target="_blank">
        <img src="https://discord.com/api/guilds/726160117242003477/embed.png" />
    </a>
        
   
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup" >
        <div class="navbar-nav" *ngIf="usuario">
        <a class="nav-item nav-link" [routerLink]="['verAnuncio']">Anuncios</a>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Items
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" [routerLink]="['comprarItems/1']">Recursos</a>
                <a class="dropdown-item" [routerLink]="['comprarItems/2']">Herramientas</a>
                <a class="dropdown-item" [routerLink]="['comprarItems/3']">Armaduras</a>
                <a class="dropdown-item" [routerLink]="['comprarItems/4']">Monturas</a>
                <a class="dropdown-item" [routerLink]="['comprarItems/5']">Estructuras</a>
                <a class="dropdown-item" [routerLink]="['comprarItems/6']">Colorante</a>
                <a class="dropdown-item" [routerLink]="['comprarItems/7']">Consumibles</a>
                <a class="dropdown-item" [routerLink]="['comprarItems/8']">Recetas</a>
                <a class="dropdown-item" [routerLink]="['comprarItems/9']">Huevos</a>
                <a class="dropdown-item" [routerLink]="['comprarItems/10']">Agricultura</a>
                <a class="dropdown-item" [routerLink]="['comprarItems/11']">Semillas</a>
                <a class="dropdown-item" [routerLink]="['comprarItems/12']">Armas y Accesorios</a>
                <a class="dropdown-item" [routerLink]="['comprarItems/13']">Munición</a>
                <a class="dropdown-item" [routerLink]="['comprarItems/14']">Skins</a>
                <a class="dropdown-item" [routerLink]="['comprarItems/15']">Artefactos</a>
                <a class="dropdown-item" [routerLink]="['comprarItems/16']">Trofeos</a>
            </div>
        </li>
        <a class="nav-item nav-link" [routerLink]="['dinos']">Dinos</a>
        <a class="nav-item nav-link" [routerLink]="['cuenta']">Mi Cuenta</a>
        <!--a class="nav-item nav-link disabled" href="#">Disabled</a-->
        <button type="button" class="btn btn-primary" (click)="gacha()">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-gift-fill" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M3 2.5a2.5 2.5 0 0 1 5 0 2.5 2.5 0 0 1 5 0v.006c0 .07 0 .27-.038.494H15a1 1 0 0 1 1 1v1a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1h2.038A2.968 2.968 0 0 1 3 2.506V2.5zm1.068.5H7v-.5a1.5 1.5 0 1 0-3 0c0 .085.002.274.045.43a.522.522 0 0 0 .023.07zM9 3h2.932a.56.56 0 0 0 .023-.07c.043-.156.045-.345.045-.43a1.5 1.5 0 0 0-3 0V3z"/>
                <path d="M15 7v7.5a1.5 1.5 0 0 1-1.5 1.5H9V7h6zM2.5 16A1.5 1.5 0 0 1 1 14.5V7h6v9H2.5z"/>
            </svg>
            Regalo Diario
        </button>
        </div>
    </div>
    <form class="form-inline" *ngIf="usuario">
        <a class="nav-item nav-link disabled " href="#"><b>{{usuario.usuario}}</b></a>
        <a class="nav-item nav-link disabled" href="#">Puntos: {{usuario.puntos}}</a>
        <input type="button" class="btn btn-md btn-secondary" value="Cerrar Sesión" (click)="logout()"  >
        
    </form>
    <form class="form-inline" *ngIf="!usuario">
        <input type="button" class="btn btn-md btn-secondary" value="Iniciar Sesión" [routerLink]="['']" >
    </form>
</nav>
