<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">MichiSaurios</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup" >
        <div class="navbar-nav" *ngIf="usuario">
        <a class="nav-item nav-link" [routerLink]="['verAnuncio']">Anuncios</a>
        <a class="nav-item nav-link" [routerLink]="['comprarItems']">Items</a>
        <a class="nav-item nav-link" [routerLink]="['cuenta']">Mi Cuenta</a>
        <!--a class="nav-item nav-link disabled" href="#">Disabled</a-->
        </div>
    </div>
    <form class="form-inline" *ngIf="usuario">
        <a class="nav-item nav-link disabled" href="#"><b>{{usuario.usuario}}</b></a>
        <a class="nav-item nav-link disabled" href="#">Puntos: {{usuario.puntos}}</a>
        <input type="button" class="btn btn-md btn-secondary" value="Cerrar Session" (click)="logout()"  >
        
    </form>
    <form class="form-inline" *ngIf="!usuario">
        <input type="button" class="btn btn-md btn-secondary" value="Iniciar Session" [routerLink]="['']" >
    </form>
</nav>
