<div class="alert alert-warning" role="alert">
    - La intención de esta página es solo compartir Hip-Hop y RAP.
</div>
<div class="alert alert-warning" role="alert">
    - Fue creada solo como hobby
</div>
<div class="alert alert-warning" role="alert">
    - Compártenos TUS DISCOS!
</div>
<div class="alert alert-success" role="alert">
    - Todo el material que existe en esta página fue recopilado de diferentes sitios de internet o enviado por sus propios autores, por lo tanto el material es de total y libre difusión y no incumple con ninguna ley a los derechos de autor.
</div>
<div class="alert alert-danger" role="alert">
    - Si tienes los medios, prefiere siempre escuchar los discos en Spotify u otros sitios que beneficien a los autores.
</div>