<div class="container bg-light" *ngIf="usuario">
  <div class="card text-center">
    <div class="card-header bg-warning">
        Aviso
    </div>
    <div class="card-body">
      <p class="card-text">La cantidad entregada dependera del stack maximo soportado en el servidor, por ejemplo, al comprar "Raw Meat" en el servidor se entregaran 80 en vez de 100 ya que ese es el stack maximo.</p>
    </div>
  </div>
    <div class="row" >
      <div class="col-12">
        <br/>
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Buscar Item..." [(ngModel)]="buscarItem.nombre" (keyup.enter)="buscar()">
            <div class="input-group-append">
              <button class="btn btn-secondary" type="button" (click)="buscar()">
                <i class="bi bi-search"></i>
              </button>
            </div>
          </div>
          <br/>
        <div class="table-responsive">
          <table class="table table-image" >
            <thead>
              <tr>
                <th scope="col">Icono</th>
                <th scope="col">Nombre</th>
                <th scope="col">Cantidad</th>
                <th scope="col">Precio</th>
                <th scope="col">Comprar</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let it of listaItems">
                <td class="w-25">
                  <img src="{{it.icono}}" class="img-fluid img-thumbnail"  width="128" height="128">
                </td>
                <td>{{it.nombre}}</td>
                <td>{{it.cantidad}}</td>
                <td>{{it.precio}}</td>
                <td>
                  <button type="button" class="btn btn-md btn-secondary" (click)="comprar(it.idIncremental)">Comprar</button>
               </td>
              </tr>
            </tbody>
          </table>   
        </div>
      </div>
    </div>
  </div>